
/* General styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #000;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  background-color: #7b00ff;
  color: white;
  padding: 10px;
  text-align: center;
  width: 100%;
  margin-bottom: 20px;
}
 #characterBuilder {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  flex-grow: 1;
  margin-bottom: 20px; /* Space between character builder and other sections */
}
.step {
  margin: 20px;
  padding: 20px;
  background-color: #7b00ff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 800px;
  box-sizing: border-box;
  flex-grow: 1;
  flex-shrink: 0;
}
section, .step {
  margin: 20px 0; /* Space between sections */
  padding: 20px;
  background-color: #7b00ff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 1200px;
  box-sizing: border-box;
  flex-grow: 1;
  flex-shrink: 0;
}

button {
  padding: 10px;
  font-size: 16px;
  background-color: #ff00d4;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px;
}

select, input[type="number"] {
  padding: 8px;
  width: 100%;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
}

#result {
  font-size: 18px;
  margin-top: 10px;
  font-weight: bold;
}

/* Ensure the other sections (campaign, spellbook, item book) behave correctly */
#campaign-builder, #spellbook, #item-book {
  margin-top: 20px;
}



button:hover {
  background-color: #e6009c;
}

#dice-container {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.dice {
  font-size: 3em;
  text-align: center;
  color: #000;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}

.rolling {
  animation: rollDice 1s ease-in-out;
}

@keyframes rollDice {
  0% {
      transform: rotate(0deg);
  }
  50% {
      transform: rotate(360deg);
  }
  100% {
      transform: rotate(720deg);
  }
}
